.header {
    padding: 50px;
    text-align: center;
    color: #275950;
    background-color: #000000;
    background-size: cover;
    
     
  }
  
.header h1 {
    font-size: 90px;
    font-family: 'Odibee Sans', cursive;
  }

.header img {
    margin-top: 10px;
    width: 40vw;
    height: 60vh;
  }
@media screen and (max-width: 450px) {

  .header h1 {
    font-size: 50px;
  }
}
  